[submodule "modules/cgmath-rs"]
	path = modules/cgmath-rs
	url = https://github.com/csherratt/snowmew-cgmath-rs
[submodule "modules/glfw-rs"]
	path = modules/glfw-rs
	url = https://github.com/csherratt/glfw-rs
[submodule "modules/gl-rs"]
	path = modules/gl-rs
	url = https://github.com/csherratt/gl-rs.git
[submodule "modules/cow"]
	path = modules/cow
	url = https://github.com/csherratt/cow-rs.git
[submodule "modules/opencl"]
	path = modules/opencl
	url = https://github.com/csherratt/rust-opencl.git
[submodule "modules/ovr-rs"]
	path = modules/ovr-rs
	url = https://github.com/csherratt/ovr-rs.git
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/collision-rs"]
	path = modules/collision-rs
	url = https://github.com/csherratt/collision-rs
